---

kind: Job
apiVersion: batch/v1
metadata:
  generateName: compare-pvcs-
  namespace: "{{ namespace }}"
spec:
  completions: 1
  parallelism: 1
{% if local_should_fail %}
  backoffLimit: 0
{% else %}
  backoffLimit: 999
{% endif %}
  template:
    spec:
      containers:
        - name: busybox
          image: gcr.io/distroless/static:debug-nonroot
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c"]
          args:
            - |
              set -x -e -o pipefail

              find /mnt -type f | \
                xargs sha256sum | \
                sed 's| /mnt/| /mnt2/|g' | \
                grep -v lost+found | \
                sha256sum -c

              find /mnt2 -type f | \
                xargs sha256sum | \
                sed 's| /mnt2/| /mnt/|' | \
                grep -v lost+found | \
                sha256sum -c
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            readOnlyRootFilesystem: true
{# Seccomp went GA in 1.19, but requires scc/restricted-v2 in OpenShift #}
{% if not cluster_info.is_openshift and cluster_info.version.server.kubernetes.minor | int >= 19 or
          cluster_info.is_openshift and cluster_info.openshift_has_scc_restricted_v2%}
            seccompProfile:
              type: RuntimeDefault
{% endif %}
          volumeMounts:
            - name: pvc1
              mountPath: "/mnt"
            - name: pvc2
              mountPath: "/mnt2"
      restartPolicy: Never
      securityContext:
{# On Openshift, we can't specify fsGroup becuase the group must be #}
{# auto-chosen w/in the range allowed in the Namespace #}
{% if not cluster_info.is_openshift %}
        fsGroup: 9999
{% endif %}
        runAsNonRoot: true
      terminationGracePeriodSeconds: 2
      volumes:
        - name: pvc1
          persistentVolumeClaim:
            claimName: "{{ pvc1_name }}"
        - name: pvc2
          persistentVolumeClaim:
            claimName: "{{ pvc2_name }}"
