# permissions for end users to edit replicationdestinations.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: replicationdestination-editor-role
rules:
- apiGroups:
  - scribe.backube
  resources:
  - replicationdestinations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - scribe.backube
  resources:
  - replicationdestinations/status
  verbs:
  - get
