---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: volsync-mover
allowHostDirVolumePlugin: false
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowPrivilegeEscalation: false
allowPrivilegedContainer: false
allowedCapabilities:
  - AUDIT_WRITE   # for sshd
  - CHOWN         # allow files to have their uid restored
  - DAC_OVERRIDE  # allow all files in PVs to be read/written
  - FOWNER        # allow setting all file permissions & times
  - SETGID        # for sshd
  - SETUID        # for sshd
  - SYS_CHROOT    # for sshd
fsGroup:
  type: RunAsAny
readOnlyRootFilesystem: true
requiredDropCapabilities: [ALL]
runAsUser:
  type: RunAsAny  # allow mover to run as root
seLinuxContext:
  type: MustRunAs
seccompProfiles:
  - runtime/default
supplementalGroups:
  type: RunAsAny
volumes:
  - configMap
  - downwardAPI
  - emptyDir
  - persistentVolumeClaim
  - projected
  - secret
