---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: scribe-mover
allowHostDirVolumePlugin: false
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowPrivilegeEscalation: true
allowPrivilegedContainer: false
allowedCapabilities:
  - AUDIT_WRITE  # for sshd
  - SYS_CHROOT   # for sshd
fsGroup:
  type: RunAsAny
readOnlyRootFilesystem: false
requiredDropCapabilities: [MKNOD]
runAsUser:
  type: RunAsAny  # allow mover to run as root
seLinuxContext:
  type: MustRunAs
supplementalGroups:
  type: RunAsAny
volumes:
  - configMap
  - downwardAPI
  - emptyDir
  - persistentVolumeClaim
  - projected
  - secret
