[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-parallel = "*"
jsonpatch = "*"
kubernetes = ">=12.0.0"
pyyaml = ">=3.11"
jmespath = "*"
jinja2 = "*"
# Required due to Python 3.9 in ubi9
importlib-resources = {version = "*", markers="python_version < '3.10'"}

[dev-packages]
#[requires]
#python_version = "3.10"
