---
# yamllint disable rule:line-length

name: operator
on:  # yamllint disable-line rule:truthy
  push:
    branches: ["main", "release-*"]
    tags: ["*"]
  pull_request:
    branches: ["main", "release-*"]
  # This workflow must be able to be triggered manually so that it can be
  # started from another workflow
  workflow_dispatch:

env:
  GO_VERSION: "1.25"
  KIND_VERSION: "0.31.0"
  GO111MODULE: "on"
  OPERATOR_IMAGE: "quay.io/backube/volsync"
  CUSTOM_SCORECARD_IMAGE: "quay.io/backube/volsync-custom-scorecard-tests"
  DOCKER_BUILDKIT: "1"
  FFWD_RELEASE_BRANCH: "release-0.15" # set to "" to skip ffwding from main to this branch

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.7'

      - name: Install pre-commit
        run: |
          python --version
          python -m pip install --user pre-commit
          echo "PYHASH=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
          echo "#### ImageOS is: $ImageOS ####"
          echo "#### ImageVersion is: $ImageVersion ####"
          echo "ImageOS=${ImageOS}" >> $GITHUB_ENV
          echo "ImageVersion=${ImageVersion}" >> $GITHUB_ENV

      - name: Enable cache for pre-commit hooks
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.ImageOS }}|${{ env.ImageVersion }}|${{ env.PYHASH }}|${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit|${{ env.ImageOS }}|${{ env.ImageVersion }}|${{ env.PYHASH }}
            pre-commit|${{ env.ImageOS }}|${{ env.ImageVersion }}|

      - name: Run pre-commit checks
        run: |
          pre-commit run -a
          pre-commit gc

  generated-files-check:
    name: Auto Generated Files Check
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      # Only run this for branch (PR and push, not tag)
      - name: Ensure custom-scorecard-tests config.yaml and config-downstream.yaml are up-to-date
        if: github.ref_type == 'branch'
        run: |
          TGT_BRANCH_NAME="${{ github.base_ref || github.ref_name }}"
          echo "TGT_BRANCH_NAME is: $TGT_BRANCH_NAME"

          DEF_BRANCH_NAME="${{ github.event.repository.default_branch }}"
          echo "DEF_BRANCH_NAME: $DEF_BRANCH_NAME"

          CUST_IMG_TAG=$TGT_BRANCH_NAME
          # For main or the ffwing branch (will match main), use "latest"
          if [ "$TGT_BRANCH_NAME" == "$DEF_BRANCH_NAME" ] || [ "$TGT_BRANCH_NAME" == "$FFWD_RELEASE_BRANCH" ]; then
            CUST_IMG_TAG="latest"
          fi

          echo "Generating custom-scorecard-config for $CUST_IMG_TAG"
          make custom-scorecard-tests-generate-config CUSTOM_SCORECARD_IMG_TAG=${CUST_IMG_TAG}
          diff=$(git diff --color --ignore-space-change -- custom-scorecard-tests/config.yaml)
          if [ -n "$diff" ]; then
            echo "$diff"
            echo "***** custom-scorecard-tests/config.yaml is out-of-date *****"
            echo "*****     run 'make custom-scorecard-tests-generate-config'      *****"
            exit 1
          fi

          diff2=$(git diff --color --ignore-space-change -- custom-scorecard-tests/config-downstream.yaml)
          if [ -n "$diff2" ]; then
            echo "$diff2"
            echo "***** custom-scorecard-tests/config-downstream.yaml is out-of-date *****"
            echo "*****     run 'make custom-scorecard-tests-generate-config'      *****"
            exit 1
          fi

      - name: crd files check
        run: |
          make manifests
          diff=$(git diff --color --ignore-space-change config/crd/bases)
          if [ -n "$diff" ]; then
            echo "$diff"
            echo "***** config/crd/bases is out-of-date *****"
            echo "*****     run 'make manifests'      *****"
            exit 1
          fi

      - name: generated deepcopy files check
        run: |
          make generate
          diff=$(git diff --color --ignore-space-change api/v1alpha1/*generated*.go)
          if [ -n "$diff" ]; then
            echo "$diff"
            echo "***** api/v1alpha1 generated files are out-of-date *****"
            echo "*****     run 'make generate'      *****"
            exit 1
          fi

      - name: CSV bundle files check
        run: |
          make bundle
          diff=$(git diff --color --ignore-space-change -IcreatedAt bundle)
          if [ -n "$diff" ]; then
            echo "$diff"
            echo "***** CSV bundle files are out-of-date *****"
            echo "*****     run 'make bundle'      *****"
            exit 1
          fi

  test-operator:
    name: Test-operator
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Ensure go module files are up-to-date
        run: |
          go mod tidy
          diff=$(git diff --color -- go.mod go.sum)
          if [ -n "$diff" ]; then
            echo "$diff"
            echo "***** go modules are out-of-date *****"
            echo "*****     run 'go mod tidy'      *****"
            exit 1
          fi

      - name: Run unit tests
        run: make test

      - name: Upload test coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./cover.out
          # This is disabled because codecov is currently (2022-10-28)
          # unreliable. We should consider re-enabling this at some point in the
          # future. Until then, coverage stats are best-effort.
          fail_ci_if_error: false

  build-operator:
    name: Build-operator
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Determine architecture
        id: arch
        run: |
          ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')"
          echo "ARCH=$ARCH" >> $GITHUB_ENV

      - name: Build operator container
        run: make docker-build IMG=${OPERATOR_IMAGE}

      - name: Export container image
        run: docker save -o /tmp/image.tar ${OPERATOR_IMAGE}

      - name: Save container as artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: volsync-operator-${{ env.ARCH }}
          path: /tmp/image.tar

  build-scorecard:
    name: Build-custom-scorecard-tests
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Ensure go module files are up-to-date
        run: |
          cd custom-scorecard-tests
          go mod tidy
          diff=$(git diff --color -- go.mod go.sum)
          if [ -n "$diff" ]; then
            echo "$diff"
            echo "***** go modules in custom-scorecard-tests are out-of-date *****"
            echo "*****     run 'go mod tidy'      *****"
            exit 1
          fi

      - name: Build operator container
        run: make custom-scorecard-tests-build CUSTOM_SCORECARD_IMG=${CUSTOM_SCORECARD_IMAGE}

      - name: Export container image
        run: docker save -o /tmp/image.tar ${CUSTOM_SCORECARD_IMAGE}

      - name: Save container as artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: volsync-custom-scorecard-tests-container
          path: /tmp/image.tar

  kubectl-plugin:
    name: kubectl-plugin
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]

    env:
      KUBECONFIG: /tmp/kubeconfig
      KUBECTL_VERSION: "1.32.2"

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # Fetch whole history so we can properly determine the version string
          # (required by krew validation)
          fetch-depth: 0

      - name: Determine architecture
        id: arch
        run: |
          ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')"
          echo "ARCH=$ARCH" >> $GITHUB_ENV

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install kubectl
        run: |
          curl -fsSLO "https://dl.k8s.io/release/v${KUBECTL_VERSION}/bin/linux/${{ env.ARCH }}/kubectl"
          sudo install ./kubectl /usr/local/bin/
          kubectl version --client
          kubectl version --client | grep -q ${KUBECTL_VERSION}

      - name: Install krew
        # https://krew.sigs.k8s.io/docs/user-guide/setup/install/
        run: |
          cd "$(mktemp -d)"
          OS="$(uname | tr '[:upper:]' '[:lower:]')"
          KREW="krew-${OS}_${{ env.ARCH }}"
          curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz"
          tar zxvf "${KREW}.tar.gz"
          ./"${KREW}" install krew
          echo "${KREW_ROOT:-$HOME/.krew}/bin" >> $GITHUB_PATH

      - name: Test build/install of plugin via krew
        run: make test-krew

      - name: Save cli as artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kubectl-volsync-${{ env.ARCH }}
          path: bin/kubectl-volsync

  e2e:
    name: End-to-end
    needs: [build-operator, kubectl-plugin]
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        # There must be kindest/node images for these versions
        # See: https://hub.docker.com/r/kindest/node/tags?page=1&ordering=name
        # Or: skopeo list-tags docker://kindest/node
        KUBERNETES_VERSIONS:
          - "1.20.15"  # OCP 4.7 (keeping to confirm volsync is compatible with older kubernetes)
          # - "1.21.14"  # OCP 4.8 (unsupported)
          # - "1.22.17"  # OCP 4.9 (unsupported)
          # - "1.23.17"  # OCP 4.10 (unsupported)
          # - "1.24.15"  # OCP 4.11 (unsupported)
          # - "1.25.11"  # OCP 4.12 (unsupported)
          # - "1.26.6"   # OCP 4.13 (unsupported)
          - "1.27.3"   # ODC 4.14
          - "1.28.0"   # OCP 4.15
          - "1.29.0"   # OCP 4.16
          - "1.30.0"   # OCP 4.17
          - "1.31.0"   # OCP 4.18
          - "1.32.2"   # OCP 4.19
          - "1.33.1"   # OCP 4.20
          - "1.34.3"   # OCP 4.21
          - "1.35.0"   # OCP 4.22
        include:
          - os: ubuntu-24.04-arm
            KUBERNETES_VERSIONS: "1.35.0"   # OCP 4.22
    env:
      KUBECONFIG: /tmp/kubeconfig
      KUBERNETES_VERSION: ${{ matrix.KUBERNETES_VERSIONS }}
    steps:
      - name: Enable Workflow Telemetry
        uses: runforesight/workflow-telemetry-action@94c3c3d9567a0205de6da68a76c428ce4e769af1 # v2.0.0
        with:
          comment_on_pr: false
          job_summary: true
          proc_trace_chart_show: false

      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # We set bash as the default shell (instead of dash) because the kuttl
      # test steps require bash, but the "script" directive executes them as "sh
      # -c ..."
      - name: Set bash as default shell
        run: |
          sudo ln -s bash /bin/sh.bash && sudo mv /bin/sh.bash /bin/sh
          sudo ln -s bash /usr/bin/sh.bash && sudo mv /usr/bin/sh.bash /usr/bin/sh

      - name: Determine architecture
        id: arch
        run: |
          ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')"
          echo "ARCH=$ARCH" >> $GITHUB_ENV

      - name: Install kubectl at same version as cluster
        run: |
          curl -fsSLO "https://dl.k8s.io/release/v${KUBERNETES_VERSION}/bin/linux/${{ env.ARCH }}/kubectl"
          sudo install ./kubectl /usr/local/bin/
          kubectl version --client
          kubectl version --client | grep -q ${KUBERNETES_VERSION}

      - name: Install helm
        run: make helm

      - name: Install kind
        run: |
          curl -fsSL -o kind https://github.com/kubernetes-sigs/kind/releases/download/v${KIND_VERSION}/kind-linux-${{ env.ARCH }}
          sudo install ./kind /usr/local/bin && rm kind
          kind version
          kind version | grep -q ${KIND_VERSION}

      - name: Create Kubernetes cluster
        run: |
          ./hack/setup-kind-cluster.sh "${KUBERNETES_VERSION}"

      - name: Start MinIO
        run: |
          ./hack/run-minio.sh

      - name: Start MinIO w/ TLS
        run: |
          MINIO_NAMESPACE=minio-tls MINIO_USE_TLS=1 ./hack/run-minio.sh

      - name: Load operator container artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: volsync-operator-${{ env.ARCH }}
          path: /tmp

      - name: Import container image into cluster
        run: |
          docker load -i /tmp/image.tar
          docker inspect ${OPERATOR_IMAGE}
          docker tag ${OPERATOR_IMAGE} ${OPERATOR_IMAGE}:ci-build
          kind load docker-image "${OPERATOR_IMAGE}:ci-build"

      - name: Start operator
        run: |
          helm install --create-namespace -n volsync-system \
              --set image.tag=ci-build \
              --set rclone.tag=ci-build \
              --set rsync.tag=ci-build \
              --set rsync-tls.tag=ci-build \
              --set restic.tag=ci-build \
              --set syncthing.tag=ci-build \
              --wait --timeout=300s \
              volsync-ghaction ./helm/volsync

      - name: Load cli artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: kubectl-volsync-${{ env.ARCH }}
          path: bin

      - name: Make cli executable
        run: chmod a+x bin/kubectl-volsync

      - name: Ensure MinIO is ready
        run: kubectl -n minio wait --for=condition=Available --timeout=300s deploy/minio

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.14'
          cache: 'pipenv'

      - name: Install e2e prereqs
        run: make test-e2e-install

      - name: Run e2e tests
        env:
          MAX_PARALLELISM: 5
        run: make test-e2e

  # This is a dummy job that can be used to determine success of CI:
  # - by Mergify instead of having to list a bunch of other jobs
  # - by the push jobs to ensure all pre-reqs pass before ANY containers are
  #   pushed.
  e2e-success:
    name: Successful e2e tests
    needs: [e2e, lint, generated-files-check, test-operator, build-scorecard]
    runs-on: ubuntu-24.04
    steps:
      - name: Success
        run: echo "Previous steps were successful"

  # This job is to optionally ffwd the main branch to a release branch
  ffwd-to-release-br:
    name: Fast forward release branch
    needs: e2e-success
    if: >
      (github.event_name == 'push' || github.event_name == 'workflow_dispatch') &&
      (github.ref == 'refs/heads/main')
    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
      - name: Skip ffwd job check
        if: ${{ env.FFWD_RELEASE_BRANCH == '' }}
        run: |
          echo "Skipping ffwding, no FFWD_RELEASE_BRANCH specified"

      - name: Checkout source
        if: ${{ env.FFWD_RELEASE_BRANCH != '' }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # Fetch whole history so we can see all commits
          fetch-depth: 0

      - name: ffwd
        if: ${{ env.FFWD_RELEASE_BRANCH != '' }}
        run: |
          echo "ffwding $FFWD_RELEASE_BRANCH to latest from main ..."
          git config user.name "ffwd workflow"
          git config user.email ""
          git fetch origin $FFWD_RELEASE_BRANCH
          git checkout $FFWD_RELEASE_BRANCH
          git merge origin/main --ff-only
          git push origin $FFWD_RELEASE_BRANCH
          echo "ffwding complete."

  # This is a dummy job that gates whether the container image artifacts should
  # be pushed to the registry. It is only here so that the "if" clause doesn't
  # need to be repeated for each push job.
  push-gate:
    name: Containers should be pushed
    needs: e2e-success
    if: >
      (github.event_name == 'push' || github.event_name == 'workflow_dispatch') &&
      (github.ref == 'refs/heads/main' ||
       startsWith(github.ref, 'refs/heads/release-') ||
       startsWith(github.ref, 'refs/tags/v'))
    runs-on: ubuntu-24.04
    steps:
      - name: No-op
        run: /bin/true

  # The operator images are specified directly because the env context isn't
  # available in the job.with.
  # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idwithinput_id
  push-operator:
    name: Push operator container to registry
    needs: push-gate
    uses: ./.github/workflows/registry-push.yml
    with:
      artifact-name: volsync-operator
      image-name: quay.io/backube/volsync
      multiarch: true
    secrets:
      registry-username: ${{ secrets.REGISTRY_USERNAME }}
      registry-password: ${{ secrets.REGISTRY_PASSWORD }}

  push-scorecard:
    name: Push custom scorecard container to registry
    needs: push-gate
    uses: ./.github/workflows/registry-push.yml
    with:
      artifact-name: volsync-custom-scorecard-tests-container
      image-name: quay.io/backube/volsync-custom-scorecard-tests
    secrets:
      registry-username: ${{ secrets.REGISTRY_USERNAME }}
      registry-password: ${{ secrets.REGISTRY_PASSWORD }}
